.Xil/
*.jou
*.log
*.pb
*.str
*.backup.jou
*.backup.log
*.tmp
*.cache
hdl/build/
hdl/ip_user_files/
hdl/.Xil/
hdl/**/.Xil/
hdl/**/xsim.dir/
hdl/**/webtalk*
hdl/**/vivado*.log
hdl/**/vivado*.jou
hdl/**/project_*.srcs/
hdl/**/project_*.gen/
hdl/**/project_*.cache/
hdl/**/project_*.hw/
hdl/**/project_*.ip_user_files/
