BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_25m_i" SITE "P3";
IOBUF PORT "clk_25m_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25m_i" 25.000000 MHz;

LOCATE COMP "led_o" SITE "L2";
IOBUF PORT "led_o" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_cs_n_i" SITE "R1";
IOBUF PORT "spi_cs_n_i" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_sclk_i" SITE "T1";
IOBUF PORT "spi_sclk_i" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_mosi_i" SITE "U1";
IOBUF PORT "spi_mosi_i" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_miso_o" SITE "Y2";
IOBUF PORT "spi_miso_o" IO_TYPE=LVCMOS33;
